body{
  text-align: center;
  background-color: rgb(125, 9, 96);
  padding: 10px;
}

#show_information {
  text-align: center;
  padding-top: 20px;
  border: 1px solid black;
  line-height: 2em;
  background-color: rgb(235, 103, 239);
}

h1{
  font-family: 'Arial', cursive;
}

img {
  text-align: center;
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 300px;
}

button {
  margin: 10px;
  background-color: rgb(100, 178, 75);
  border: none;
  padding: 5px;
}
